
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------End of CSS reset----------------------------------------------*/

 body{
    background: rgb(220,219,205);
    background: linear-gradient(233deg, rgba(220,219,205,1) 0%, rgba(150,155,152,1) 34%, rgba(148,119,94,1) 70%);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
    




/*font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;*/

/*Beginning of header--------------------------------------------*/

header{
  border-bottom: 1px solid #212427;
  z-index: 1;
}

.site-header{
  color: #49453d;

}


 .wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  background-color:#DCDBCD;

 }


 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 3vw;
 border-left: 1px solid #C6956D;
 border-right: 1px solid #C6956D;
 padding: .1em;


}

 .wrapperHeader a:hover{
  outline:  solid #C6956D;
  transition: outline 0.4s ease-in;
  padding: .2em;
  border-radius: 30em 10em;
     
 }


.shape-wrapper{
  position: absolute;
  top: -1%;
  left: 37.5%;
  width: 23%;
  height: 50%;
  border: .1px solid#212427;
  border-radius: 60% 60% 60% 60% / 60% 60% 60% 60%;

}



.name{
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  text-align: center;
 }


.photography{
  font-size: 1.5vw;
}

/*End of header page--------------------------------------------*/


/* First page for services----------------------------------------*/

/*Large screen services start--------------------------*/
#largeScreen{
  display: none;
}

#largeScreenWeddingPortraits{
  display: none;
}

#largeScreenTwoPics{
  display: none;
}


/*Large screen services end-------------------------------*/

.shape-wrapper{
  height: 15rem;
}

#navVerticalText{
  text-align: center;
    
}

 .unorderedListVerticalText li{
 text-decoration: none;
 display: inline;

 
 
}

#verticalTextLeft{
writing-mode: vertical-rl;
rotate: 180deg;
/*transform: translateY(30%);*/
font-family: 'Edu TAS Beginner', cursive;
font-size: 1rem;
height: 20rem;

}



#rock-pic{
  margin-top: 3.5em;
  border-radius: 50%;
  width: 45%;
  height: 20rem;
  border: 4px solid #212427;
  border-style: double;
}





#verticalTextRight{
  writing-mode: vertical-rl;
  text-orientation: mixed;
 /* transform: translateY(-30%);*/
  font-family:'Edu TAS Beginner', cursive;
  font-size: 1rem;
  height: 20rem;  
  
}


  #services-wrapper{
   text-align: center;
   display: block;
   margin: auto;
   font-size: 3.5vw;
   font-family: 'Edu TAS Beginner', cursive;
   border: .1px solid #212427;
   width: 50%; 
   border-radius: 50% 50% 0 0; 
   margin-bottom: 1em;
   }


  .h1Services{
    padding-top: 20%;
  }

  #pTagServices{
   padding: 5%;
  }

  .scroll{
    font-size: 2.5vw;
  }



  /*Second section-------------------------------------*/

  .servicesSecondSection{
    text-align: center;
    background-color: #969B98;
    font-family: 'Edu TAS Beginner', cursive;
    padding: .5em;
  }


  .picForWhyIcanNotWait{
   width: 50%;
   border-radius: 15px 15px;
   margin-top: 1em;
  }

  .uposedAndTruewrapper{
  text-align: center;
  background-color: #969B98;
  font-family: 'Edu TAS Beginner', cursive;
  line-height: 1.2;
 
}


  .h1WhyIcantWait{
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
  padding-top: 1em;
}



.h3TrueToYou, .pTagDocumentDay{
  padding: .5em;
  color:#d8dccf;
  font-size: 4vw;
}

.ptagIcantWait{
  padding: .5em 1em .5em 1em;
  line-height: 1.2;
  font-size: 3vw;
}

/*Hi I'm Raelee section moblie------------------------------------*/

#hiWrapper{
 background: rgb(220,219,205);
 background: linear-gradient(86deg, rgba(220,219,205,1) 0%, rgba(148,119,94,1) 29%, rgba(150,155,152,1) 72%); 
  font-family: 'Edu TAS Beginner', cursive;
  padding: 1em;

}

#picOfRaeleeWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;

}

.imgRaelee{
  width: 50%;
  border-radius: 15px 15px;
}

#hi{
  text-align: center;
  padding: 1em;
  line-height: 1.3;
}

.h1TagHi{
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
  }

  .pTagArizona{
    font-size: 4vw;
    color: whitesmoke;
  }

  .PtageMainForCreativeMind{
    padding: .5em;
    text-align: center;
    
  }


  .spanCreative{
    color: whitesmoke;
    font-size: 3.5vw;
    
  
  }

   .spanHumanConnection{
    font-size: 2.7vw;
   }

  

  
  /*Animation-------------------------------------*/

  
.fadeRotate {
   transform: rotate(360deg);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: linear;
 }

 .fadeupUp {
   transform: translateY(100px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in;
 }

 .fadeRight {
   transform: translateX(-200px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 2s;
   transition-timing-function: ease-in;
 }

  /*Shows text with JS intersection Observer*/
 .in-view {
     transform:none;
     opacity: 1;
 }

/*End of animation------------------------------*/


/*Media queries------------------------------------------------>*/

@media screen and (min-width: 400px){

 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 2vw;
}


#verticalTextLeft{
 writing-mode: vertical-rl;
 rotate: 180deg;
/*transform: translateY(20%);*/
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 1rem;
 height: 17rem;  
}

#rock-pic{
  margin-top: 3.5em;
  border-radius: 50%;
  width: 15rem;
  height: 18rem;
  border: 4px solid #212427;
  border-style: double;
}



 

#verticalTextRight{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /*transform: translateY(-20%);*/
  font-family:'Edu TAS Beginner', cursive;
  font-size: 1rem;
  height: 17rem;  
  
}


  #services-wrapper{
   text-align: center;
   display: block;
   margin: auto;
   font-size: 3vw;
   font-family: 'Edu TAS Beginner', cursive;
   border: .1px solid #212427;
   width: 50%; 
   border-radius: 50% 50% 0 0; 
   margin-bottom: 1em;
   }
}



@media screen and (min-width: 768px){

  body{
    background: rgb(220,219,205);
    background: linear-gradient(233deg, rgba(220,219,205,1) 0%, rgba(150,155,152,1) 34%, rgba(148,119,94,1) 70%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  /* Large screen services------------------------------------------*/

  #largeScreen{
   display: flex;
   justify-content: space-between;
   align-items: start;
   text-align: center;
   color: #322311;
  }

  .largeScreenHoldingHands{
    width: 20%;
  }

  .largeScreenName{
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    padding: 1em;
  }

  .largeScreenPhoto{
    font-size: 1.5vw;
  }


  #largeScreenWeddingPortraits{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: #322311;
  }




  .servicesSecondSection{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}
  

/*Vertical left side text----------------------------------------*/
  .largerscreenTitleServices{
   writing-mode: vertical-rl;
   rotate: 180deg;
   transform: translateY(0);
   font-family: 'Edu TAS Beginner', cursive;
   font-size: 3.5vw;
   border: 1.5px solid #94775E;
   border-radius: 50%;
   padding: 1em;
   
   }

    #largerscreenTitleServices{
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
    width: 40%;
    font-family:'Edu TAS Beginner', cursive;
    font-size: 2vw;  border: 1.5px solid #94775E;
    border-radius: 50%;
    padding: 1.9em; 
 }

  .largeScreenServices{
    font-family: 'Dancing Script', cursive;
    font-size: 6vw;
 }

/*Vertical right side text----------------------------------------*/
   .largeScreenWeddingsAndPortraits{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translateY(-0%);
    font-family:'Edu TAS Beginner', cursive;
    border: 1.5px solid #94775E;
    border-radius: 50%;
    padding: 1em; 
    font-size: 3.5vw;
    
  }

   #largeScreenTwoPics{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

  .hangingFlowersLarge{
    width: 23%;
    height: 40vh;
    padding-bottom: 1em;
  }
  

  .scrollServicesPage{
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: small;
    padding-top: 10em;
  }


    .holdingHandsLargeScreen{
      width: 23%;
      padding-bottom: 1em;
    }
   
  
   /* Large screen services end------------------------------------------*/



  .picForWhyIcanNotWait{
   width: 50%;
   border-radius: 15px 15px;
  }

  .h1WhyIcantWait{
  font-family: 'Dancing Script', cursive;
  font-size: 4vw;
  padding: .5em;
}

.uposedAndTruewrapper{
  text-align: center;
  background-color: #969B98;
  padding: 2em 10em 1em 10em;
  font-family: 'Edu TAS Beginner', cursive;
  line-height: 1.2;
}

.h3TrueToYou, .pTagDocumentDay{
  padding: .5em;
  color:#d8dccf;
  font-size: 2.5vw;
}

.ptagIcantWait{
  padding: .5em;
  line-height: 1.2;
  font-size: 2vw;
}

.shape-wrapper, .moblieStartPage {
  display: none;
}

/*Start of Hi I'm Raelee-------------------------------------*/

#picOfRaeleeWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

}

.imgRaelee{
  width: 30%;
}


/*Hi I'm Raelee section large screen------------------------------------*/

#hiWrapper{
  background-color: #94775E;
  font-family: 'Edu TAS Beginner', cursive;
  padding: 1em;

}

#picOfRaeleeWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row-reverse;

}

.imgRaelee{
  width: 50%;
  border-radius: 15px 15px;
}

#hi{
  text-align: center;
  padding: 1em;
  line-height: 1.3;
}

.h1TagHi{
  font-family: 'Dancing Script', cursive;
  font-size: 5vw;
  }

  .pTagArizona{
    font-size: 3vw;
    color: whitesmoke;
  }

  .PtageMainForCreativeMind{
    padding: .5em;
    text-align: center;
    
  }


  .spanCreative{
    color: whitesmoke;
    font-size: 3vw;
    
  
  }

   .spanHumanConnection{
    font-size: 2.5vw;
    
   }

  }



@media screen and (min-width: 1280px){

}
