
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}

/*-----------------------End of CSS reset----------------------------------------------*/





/*font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;*/

/*Beginning of header--------------------------------------------*/

header{
  border-bottom: 1px solid #212427;
  z-index: 1;
}

.site-header{
  color: #49453d;

}


 .wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  background-color:#DCDBCD;

 }


 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 3vw;
 border-left: 1px solid #C6956D;
 border-right: 1px solid #C6956D;
 padding: .1em;


}

 .wrapperHeader a:hover{
  outline:  solid #C6956D;
  transition: outline 0.4s ease-in;
  padding: .2em;
  border-radius: 30em 10em;
     
 }


.name{
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  text-align: center;

}


.photography{
  font-size: 1.5vw;
}

/*End of header page--------------------------------------------*/

/*-Scrolling images--------------------------------------------*/

   .scrollImg{
    width: 100vw;
    height: 85vh;
  }

  
 

  /*Second main page content meet Raelee-------------------------------*/
  .contactAndImage{
    background-image: url("pics/beach\ \(1\).jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: #271A1A;
  }

  
  #contact-with-image{
    padding: 1em;
    text-align: end;
    border-bottom: 2px solid #C6956D;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 5vw;
  }

  .picPersonAndDog{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 70%;
    height: 70vh;
    border:4px double #C6956D;
    margin-top: 1em;
  }

  #meetRaelee{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    text-align: center;
    padding: 1em;
  }

   .meetTitle{
    border-bottom: 1.5px solid #212427;
}

  .quoteMeetRaelee{
   font-family: 'Edu TAS Beginner', cursive;
   font-size: .7em;
   
}

   .scroll{
    text-align: center;
    padding-bottom: .3em;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: small;

   }
  
  /*End of second page on main-------------------------*/

  /*Third section main page---------------------------*/
    
  .fixedImg-wrapper{
   background-image: url("pics/weddingHoldingHands\ \(1\).jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   
 }

  .subFixImg-wrapper{
    background-color: #DCDBCD;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 6vw;
    padding: .5em;
    opacity: .9;
    
}

 .couples{
   padding-left: .5em;
 }

 .elopWed{
   padding-left: 1em;
 }

 .portrait{
   padding-left: 1.5em;
 }

 #contactMe{
  text-align: center;
 }

  /*End third section--------------------------------------*/

  /*Start of 4th section of main page image galley 6 pics-----------------------------------*/

  .featuredWork{
    background-color: #DCDBCD;
    
  }

   .h3FeaturedWork{
     padding: 1em 0 .5em 1em;
     color:#87623A;
     border-bottom: 2px solid #87623a;
     font-family: 'Edu TAS Beginner', cursive;

   }

   .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .gallery-container2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.image {
    width: 300px;
    margin: 10px;
    overflow: hidden;
    
}

img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.image:hover img {
    transform: scale(1.1);
}

 .exploreGallery{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 4.5vw;
    text-align: center;
    border: 1px double #524640;
    padding: 3vw;
    color: #524640;
 }

/*End of 4th section main page 6 pic galley------------------------*/



/*Start of 5th section on main page GET IN TOUCH-----------------------*/

.getInTouch-wrapper{
   font-family: 'Edu TAS Beginner', cursive;
   font-size: 6vw;
   background-color: #A69887;
   color: #372816;
   position: relative;
   padding: .5em;
}



.getInTouchPic{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  border-radius: 50%;
 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  
  
  }

  .getInTouchPtag{
  position: absolute;
  top: 10%;
  left: 20%;
  
}

.InquireNowPtag{
  position: absolute;
  top: 70%;
  left: 60%;
}
/*End of 5th section on main page GET IN TOUCH-----------------------*/

/*Footer-------------------------------------------*/

.mainFooterWrapper{
  background-color:#BEBAAB;
  color: #4D3E2B;
  padding: 1.5em;
  
}

.h2Raelee{
 font-family: 'Dancing Script', cursive;
 text-align: center;
 font-size: 7vw;
}

.photo{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 3vw;
  border-bottom: 1px solid #4D3E2B;
  padding-bottom: 2em;
}

 .homeAndAbout{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #4D3E2B;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 5vw;
}

 .bottomLinks{
  color: #322311;
}



 .pic4MainWrap{
  margin-top: 1em;

}

.pic2Wrapper{
  width: 20%;
  display: flex;
  align-items: center;

}

.pic3Wrapper{
  width: 20%;
  display: flex;
  align-items: center;
  
}


 .designBy{
  width: 55%;
  font-size: 3vw;
  float:right;
  font-family: 'Dancing Script', cursive;
  color: #302e2a;
}

.pic4{
  padding: .1em;
}

.lastContent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A69887;
  color: #413a32;
  font-family: 'Edu TAS Beginner', cursive;
  padding: .5em;
  font-size: 3vw;

}

/*Footer for large screens------------------------------------*/

.col-container{
  display: none;
}

  

  /*Animation-------------------------------------*/

  
.fadeRotate {
   transform: rotate(360deg);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: linear;
 }

 .fadeupUp {
   transform: translateY(100px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in;
 }

 .fadeRight {
   transform: translateX(-200px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 2s;
   transition-timing-function: ease-in;
 }

  /*Shows text with JS intersection Observer*/
 .in-view {
     transform:none;
     opacity: 1;
 }

/*End of animation------------------------------*/




/*---------------------------------------------Media queries---------------------------------*/


@media screen and (min-width: 400px){

 .site-header{
  position: sticky;
  top: 0;
 }
  
 .wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  background-color:#DCDBCD;
  
 }


 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 2vw;
}

 .wrapperHeader a:hover{
  outline:  solid #C6956D;
  transition: outline 0.4s ease-in;
  padding: .2em;
  border-radius: 30em 10em;
     
 }



.name{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5vw;
  text-align: center;
}

.photography{
  font-size: 1.2vw;
}

 .scrollImg{
    width: 100vw;
    height: 90vh;
  }

   /*Pic with contact -------------------------------------------*/
   .contactAndImage{
    background-image: url("pics/beach\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #271A1A;
    
  }

  #contact-with-image{
    padding: 1em;
    text-align: end;
    border-bottom: 2px solid #C6956D;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 3.5vw;
  }

  .imgMeetRaelee-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

   

  .picPersonAndDog{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 40%;
    height: 50vh;
    border:4px double #C6956D;
    margin: 1em;
  }

  #meetRaelee{
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    text-align: center;
    padding: 1em;
  }

  .meetTitle{
    border-bottom: 1.5px solid #212427;
}

  .quoteMeetRaelee{
   font-family: 'Edu TAS Beginner', cursive;
   font-size: .7em;
   
  }

   .scroll{
    text-align: center;
    padding-bottom: .3em;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: small;

   }

    .subFixImg-wrapper{
    background-color: #DCDBCD;;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 2.5vw;
    padding: .5em;
    border-radius: 10px;
    opacity: .9;
    
  }

  /*-------------------------------------------------*/

   @media screen and (min-width: 768px){
 
  .col-container {
   display: table;
   width: 100%;
   background-color: #969B98;
   color: #322311;
   font-family: 'Edu TAS Beginner', cursive;
   text-align: center;
   
}
  .col {
   display: table-cell;
   padding: 16px;
   border-right: 1px solid #322311;
   vertical-align: middle;
   width: 20%;
}

.largeScreenFooterRaelee{
  font-family: 'Dancing Script', cursive;
  font-size: 5vw;
}

  .footerLargeScreenPtag{
    padding-bottom: .5em;
    font-size: 2vw;
    
  }
   


  .col-container{
   display: block;
}

  .mainFooterWrapper{
   display: none;
}


 .footerpic4MainWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.footerpic2Wrapper{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}

.footerpic3Wrapper{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.pic5{
  padding: .1em;
  
}


.lastContent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A69887;
  color: #413a32;
  font-family: 'Edu TAS Beginner', cursive;
  padding: .5em;
  font-size: 1.5vw;

}

  

}


}

@media screen and (min-width: 1000px){
  .scrollImg{
    width: 80vw;
    height: 80vh;
  }

  .getInTouch-wrapper{
   font-family: 'Edu TAS Beginner', cursive;
   font-weight: 600;
   font-size: 5vw;
   background-color: #A69887;
   color: #372816;
   position: relative;
   padding: .5em;
}

   .getInTouchPtag{
  position: absolute;
  top: 10%;
  left: 25%;
  
}

.InquireNowPtag{
  position: absolute;
  top: 70%;
  left: 60%;
}


  #contact-with-image{
    padding: 1em;
    text-align: end;
    border-bottom: 2px solid #C6956D;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 2.5vw;
  }

   .exploreGallery{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    border: 1px double #524640;
    padding: 3vw;
    color: #524640;

  }

   .h3FeaturedWork{
     padding: 1em 0 .5em 1em;
     color:#87623A;
     border-bottom: 2px solid #87623a;
     font-size: 4vw;

   }

   .picFeaturedWork{
    padding: 1em;
   }

  



@media screen and (min-width: 1600px){
  .featuredWork{
    background-color: #DCDBCD;
    
  }

   .h3FeaturedWork{
     padding: 1em 0 .5em 1em;
     color:#87623A;
     border-bottom: 2px solid #87623a;
     font-size: 4vw;

   }

   .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .gallery-container2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.image {
    width: 100%;
    margin: 10px;
    overflow: hidden;
    
}

img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.image:hover img {
    transform: scale(1.1);
}

 .exploreGallery{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    border: 1px double #524640;
    padding: 3vw;
    color: #524640;
 }
}
}