
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------End of CSS reset----------------------------------------------*/


.moblieStartPage {
    background: linear-gradient(2deg, #dcdbcd, #c7956e, #969b98);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    height: 100vh;
}

@-webkit-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}


/*font-family: 'Dancing Script', cursive;
font-family: 'Edu TAS Beginner', cursive;*/

/*Beginning of header--------------------------------------------*/

header{
  border-bottom: 1px solid #212427;
  z-index: 1;
}

.site-header{
  color: #49453d;

}


 .wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  background-color:#DCDBCD;

 }


 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 3vw;
 border-left: 1px solid #C6956D;
 border-right: 1px solid #C6956D;
 padding: .1em;


}

 .wrapperHeader a:hover{
  outline:  solid #C6956D;
  transition: outline 0.4s ease-in;
  padding: .2em;
  border-radius: 30em 10em;
     
 }

.shape-wrapper{
  position: absolute;
  top: -1%;
  left: 38.5%;
  width: 23%;
  height: 40%;
  border: .1px solid#212427;
  border-radius: 60% 60% 60% 60% / 60% 60% 60% 60%;

}



.name{
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  text-align: center;

}


.photography{
  font-size: 1.5vw;
}

/*End of header page--------------------------------------------*/




/* First page for Mobile----------------------------------------*/

.moblieStartPage{
  padding-top: 3em;

}

.navVerticalText{
  text-align: center;
}

 .unorderedListVerticalText li{
 text-decoration: none;
 display: inline;
}

#verticalTextLeft{
writing-mode: vertical-rl;
rotate: 180deg;
font-family: 'Edu TAS Beginner', cursive;
font-size: 17px;
margin-bottom: 17%
}



#rock-pic{
  margin-top: 3.5em;
  border-radius: 50%;
  width: 45%;
  height:45vh;
  border: 4px solid #212427;
  border-style: double;

}

#verticalTextRight{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family:'Edu TAS Beginner', cursive;
  font-size: 17px;
  margin-bottom: 17%;
  
  
  
  }

  

  #services-wrapper{
   position: sticky;
   left: 50%;
   transform: translate(-50%, -50%); 
   width: 50%; 
   border-radius: 50% 50% 0 0; 
   border: .1px solid #212427;
   text-align: center;
   font-size: 3.5vw;
   font-family: 'Edu TAS Beginner', cursive;
   margin-top: 20%;
  
   

  }

  .h1Services{
    padding-top: 35%;
  }

  #pTagServices{
   padding: 5%;
  }

  .scroll{
    font-size: 2.5vw;
  }

  /*For larger screens---------------------------------*/
  .scrollingImages{
    display: none;
  }

  /*Second main page content meet Raelee-------------------------------*/
  .contactAndImage{
    background-image: url("pics/beach\ \(1\).jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: #271A1A;
  }

  

  #contact-with-image{
    padding: 1em;
    text-align: end;
    border-bottom: 2px solid #C6956D;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 5vw;

  }

  .picPersonAndDog{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 70%;
    height: 70vh;
    border:4px double #C6956D;
    margin-top: 1em;
  }

  #meetRaelee{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    text-align: center;
    padding: 1em;
  }

   .meetTitle{
    border-bottom: 1.5px solid #212427;
}

  .quoteMeetRaelee{
   font-family: 'Edu TAS Beginner', cursive;
   font-size: .7em;
   
}

   .scroll{
    text-align: center;
    padding-bottom: .3em;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: small;

   }
  
  /*End of second page on main-------------------------*/

  /*Third section main page---------------------------*/
    
  .fixedImg-wrapper{
   background-image: url("pics/weddingHoldingHands\ \(1\).jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   
 }

  .subFixImg-wrapper{
    background-color: #DCDBCD;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 6vw;
    padding: .5em;
    opacity: .9;
    
}

 .couples{
   padding-left: .5em;
 }

 .elopWed{
   padding-left: 1em;
 }

 .portrait{
   padding-left: 1.5em;
 }

 #contactMe{
  text-align: center;
 }

  /*End third section--------------------------------------*/

  /*Start of 4th section of main page image galley 6 pics-----------------------------------*/

   .h3FeaturedWork{
     padding: 1em 0 .5em 1em;
     color:#87623A;
     border-bottom: 2px solid #87623a;

   }

   .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .gallery-container2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.image {
    width: 300px;
    margin: 10px;
    overflow: hidden;
    
}

img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.image:hover img {
    transform: scale(1.1);
}

 .exploreGallery{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    border: 1px double #524640;
    padding: 1vw;
    color: #524640;
 }

/*End of 4th section main page 6 pic galley------------------------*/
  

  /*Animation-------------------------------------*/

  
.fadeRotate {
   transform: rotate(360deg);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: linear;
 }

 .fadeupUp {
   transform: translateY(100px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in;
 }

 .fadeRight {
   transform: translateX(-200px);
   opacity: 0;
   transition-property: transform, opacity;
   transition-duration: 3s;
   transition-timing-function: ease-in;
 }

  /*Shows text with JS intersection Observer*/
 .in-view {
     transform:none;
     opacity: 1;
 }

/*End of animation------------------------------*/




/*---------------------------------------------Media queries---------------------------------*/


@media screen and (min-width: 400px){

 .site-header{
  position: sticky;
  top: 0;
 }
  
 .wrapperHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  background-color:#DCDBCD;
  
 }


 .wrapperHeader a{
 text-decoration: none;
 color: #49453d;
 font-family: 'Edu TAS Beginner', cursive;
 font-size: 2vw;
}

 .wrapperHeader a:hover{
  outline:  solid #C6956D;
  transition: outline 0.4s ease-in;
  padding: .2em;
  border-radius: 30em 10em;
     
 }



.name{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5vw;
  text-align: center;
}

.photography{
  font-size: 1.2vw;
}



.services-wrapper, #services-wrapper, .h1Services, .shape-wrapper, .moblieStartPage {
  display: none;
}

.scrollingImages{
    display: block;
    
  }

   .scrollImg{
    width: 60vw;
    height: 65vh;
  }
   /*Pic with contact -------------------------------------------*/
   .contactAndImage{
    background-image: url("pics/beach\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #271A1A;
    
  }

  #contact-with-image{
    padding: 1em;
    text-align: end;
    border-bottom: 2px solid #C6956D;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 2vw;
  }

  .imgMeetRaelee-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

   

  .picPersonAndDog{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 40%;
    height: 50vh;
    border:4px double #C6956D;
    margin: 1em;
  }

  #meetRaelee{
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    text-align: center;
    padding: 1em;
  }

  .meetTitle{
    border-bottom: 1.5px solid #212427;
}

  .quoteMeetRaelee{
   font-family: 'Edu TAS Beginner', cursive;
   font-size: .7em;
   
  }

   .scroll{
    text-align: center;
    padding-bottom: .3em;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: small;

   }

    .subFixImg-wrapper{
    background-color: #DCDBCD;;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 2.5vw;
    padding: .5em;
    border-radius: 10px;
    opacity: .9;
    
    
}


}

@media screen and (min-width: 1000px){
  .scrollImg{
    width: 80vw;
    height: 80vh;
  }

}